<h1>Create Article</h1>

<div style="margin: 30px">
  <%= form_with(model: @article) do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>

    <%= form.label :content %>
    <%= form.text_field :content, { size: 50 } %>

    <%= form.submit "Create Article" %>
  <% end %>
</div>
